<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %> | <%= link_to "Like!", [@post, Like.new], method: :post, class: "like" %>
</p>

<p>
  <small>"<%= @post.title %>" post has <%= count_likes @post %> likes </small>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div>
  <h3>Comments:</h3>
  <div>
    <% @post.comments.each do |comment| %>
      <%= render template: 'comments/show', locals: { :'@comment' => comment } %>
    <% end %>
  </div>
  <%= render 'comments/form' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
